* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background: #333;
  color: #ddd;
}

.app {
  max-height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  h1 {
    margin: 0;
    text-align: center;
    padding: 20px 10px;
    color: rgba(255, 255, 255, 0.2);
  }

  .status {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    text-align: center;
    font-weight: 600;
    padding: 10px;
    background: rgba(255, 255, 255, 0.4);
  }

  h3 {
    font-size: 14px;
  }

  input {
    display: block;
    background: #444;
    border: none;
    margin-bottom: 10px;
    padding: 10px;
    color: #fff;
    width: 100%;

    &:focus {
      background: #666;
    }
  }

  section {
    padding: 50px;
    padding-top: 0;
  }

  .actions {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
  }

  button {
    width: 100%;
    margin-bottom: 10px;
    background: #555;
    border: none;
    padding: 10px;
    color: #fff;
    cursor: pointer;

    &.vote {
      position: relative;

      .progress {
        pointer-events: none;
        display: block;
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        width: calc(attr('data-progress') * 100%);
        background: rgba(0, 0, 0, 0.2);
        transition: 0.1s ease-in-out all;
      }
    }
  }
}
